.body{
    background-color: rgba(217, 224, 230, 0.897);
}
/*Facebook Logo*/
.Logo{
    top: 200px;
    right: 150px;
    bottom: 200px;
    left: 250px;
    position: fixed;
}

.FB{
    height: 50px;
    width: 250px;
    }

.LogoTX{
    font-size: large;
    width: 300px;
    margin-left: 30px;
}

/*Side Form*/
.form{
    position: fixed;
    top: 150px;
    right: 100px;
    bottom: 200px;
    left: 800px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 10px;
}

.form input[type="text"]{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border-width: 0.1px;
    width: 280px;
}

.form input[type="password"]{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border-width: 0.1px;
    width: 280px;
}

.LoginB{
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 8px;
    padding: 10px;
    border-width: 0.1px;
    width: 280px;
    background-color: rgb(50, 112, 245);
    color: cornsilk;
}

.link{
    margin-left: 100px;
    font-weight: bold;
    text-decoration: none;
}


.Signup{
    margin-top: 40px;
    margin-left: 55px;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    background-color: rgb(22, 199, 36);
    color: cornsilk;
    height: 45px;
    font-weight: bold;
    
    
}

.Siup{
    border-bottom: 2px groove ;
    margin-top: 40px;
}

.creatpar{
    margin-top: 35px;
    margin-left: 5px;
}

/*Page Khamsat Style*/

/*NavBar*/
.navbar{
    background-color: rgb(83, 82, 82);
    list-style: none;
    text-align: right;
}
.divmenu{
    display: inline-block;
    margin-right: 10px;
}

.div1 {
    width: 25px;
    height: 3px;
    background-color: rgb(10, 10, 10);
    margin: 6px;
    
}

.navlogo{
    width: 120px;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}
.ulright{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.liright{
    float: right;
    }

.liright a{
    font-size: large;    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    margin-top: 15px;
 }

 .lileft{
    float: left;
 }
 
 .lileft a{
    font-size: large;    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
 }

 .lileft a:hover{
     background-color: rgba(240, 247, 240, 0.555);
 }
 .liright a:hover{
    background-color: rgba(240, 247, 240, 0.555);
}

 /*Title*/
.Hpage{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Pictures*/
.Picup li{
    display: inline-block;
    margin-left: 20px;
    
}

.imgup{
    
    width: 250px;
    height: 200px;
    padding: 20px;
}

.relativimg1{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/business.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.relativimg2{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/programming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.relativimg3{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/marketing.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
.relativimg4{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/training.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.relativimg5{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/video.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.relativimg6{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.relativimg7{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.relativimg8{
    position: relative;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-image: url(/translate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.absluteimg{
  position: absolute;
  width: 270px;
  height: 190px;
  left: 95px;
  top: 40px;
  font-size: 5ch;
  color: rgba(8, 8, 8, 0.938);
}
.absluteimg2{
  position: absolute;
  width: 270px;
  height: 190px;
  left: 70px;
  top: 50px;
  font-size: 5ch;
  color: rgba(8, 8, 8, 0.945);
}


.Picdown li{
    display: inline-block;
    margin-left: 20px;

}

